*{
    margin: 0;
}

.bg, .bg2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -5;
}

.main{
    width: 100%;
    height: 100vh;
}

/* Login */

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 150px 80px;
    margin-right: 10%;
    border-radius: 50px;
    color: white;
    text-shadow: 2px 2px 10px black;
    scale: 0%;
    animation: 0.5s ease forwards;
    animation-delay: 1.7s;
    background: rgba(166, 213, 255, 0.197);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    
}

@keyframes a{
    from{
        scale: 0%;
    }
    to{
        scale: 100%;
    }
}

@keyframes vanish{
    from{
        scale: 100%;
    }
    to{
        scale: 0%;
    }
}

.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

#pass{
    font-size: 17px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    animation: 0.5s ease forwards;
}

@keyframes wrong{
    0%,40%,80%{
        padding-left: 5px;
    }
    20%,30%,60%,100%{
        padding-left: 2px;
    }
}

::placeholder{
    color: rgb(220, 219, 219);
}

.button{
    padding: 5px 15px;
    background-color: rgb(0, 140, 255);
    font-size: 16px;
    color: white;
    outline: none;
    border: none;
    border-radius: 15px;
    transition: all 0.2s;
}

.button:hover{
    background-color: rgb(1, 97, 175);
    scale: 98%;
    box-shadow: 0 0 5px rgb(1, 97, 175);
}

/* 2nd page*/

.bg2{
    width: 100%;
    animation: 0.5s ease forwards;
}

@keyframes slide{
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}

